includes:
#  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
#  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
#  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
#  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/rules.neon
#  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
#  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
  level: 9
  tmpDir: var/phpstan
  paths:
    - src
#  strictRules:
#    allRules: true

  ## the project root folder can be overridden in the phpstan.neon file
  # editorUrl: 'phpstorm://open?file=/path/to/your/project/%%relFile%%&line=%%line%%'
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
